{% extends 'SatisfactoryOperationBundle::layout.html.twig' %}

{% block content %}
    <!-- Main content view  -->
    <div class="pageheader">
        <h1>CRÉATION D'UNE CORRESPONDANCE</h1>
    </div>
    <!--main content start-->
    <section ng-app="neuboard" ng-controller="correspondanceFormNewCtrl" id="form-user" class="animated fadeInUp" >
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!--Form start--> 
                        {{ form_start(form, {'method': 'post', 'action': path('operation_correspondance_new'), 'attr': {'class': 'form-horizontal form-border', 'novalidate': 'novalidate'} }) }}
                        {% if app.session.flashBag.has('correspondance_uploaded_file_error') %}
                            <div class="form-group">
                                <div class="alert alert-warning">
                                    {% for msg in app.session.flashBag.get('correspondance_uploaded_file_error') %}
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-6 {% if (form.name.vars.errors | length > 0) %} has-error {% endif %}">
                                <label class="">Nom de la correspondance *</label>
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control','name':'name','placeholder':'Nom de la correspondance'} }) }}
                                {% for error in form.name.vars.errors %}
                                    <span class="alert alert-danger-form">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                <label class="">Client *</label>
                                {{ form_widget(form.client, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.client.vars.errors %}
                                    <span class="alert alert-danger-form">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                Votre nom "{{ app.user.lastName }} {{ app.user.firstName }}" sera lié à la création du traitement.
                            </div>
                        </div>    

                        <div class="form-group">
                            <label class="col-sm-4">
                                Nombre de colonnes pour la correspondance* :
                            </label>
                            <div class="col-sm-2">
                                {{ form_widget(form.columnNumber, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.columnNumber.vars.errors %}
                                    <span class="alert alert-danger-form">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">
                                Uploader un fichier de correspondance *
                                (Fichier au format CSV séparateur point-virgule et contenant 2 colonnes uniquement)
                            </label>
                            <div class="col-sm-8 file-margin-header">
                                {{ form_widget(form.file, { 'attr': {'class': ''} }) }}
                                {% for error in form.file.vars.errors %}
                                    <span class="alert alert-danger-form">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary" >
                                    <i class="fa fa-save"></i> Créer la correspondance
                                </button>
                                <a href="{{ path('operation_correspondance_index') }}" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Fermer sans enregistrer
                                </a>
                            </div>
                        </div> 
                        <!--Form end-->      
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!--main content end--> 
    {% include 'SatisfactoryOperationBundle:js:correspondanceFormNew.js.twig' %}
{% endblock %}

